@charset "utf-8";

/*
 * GLOBAL SASS STYLSHEET
 */

div[id*="extension_"] {
  display: none !important;
}

html body > header,
html body > .container,
html body > footer {
  display: block;
  width: 100% !important;
  height: auto !important;
  min-height: 0 !important;
  background-color: rgba(0,0,0,0.975) !important;
}

html body {
  .container>nav {
    visibility: hidden;
  }
}

html body > .container,
html body > footer {
  position: relative !important;
}

html body > .container {
  display: inline-block !important;
  margin: 0 !important;

  > * {
    margin: 0 5% !important;
  }
}

img.secLogo {
  display: none !important;
}

hr {
  border-top: none !important;
}

html body blockquote {
  background-color: rgba(0,8,10,0.4) + rgba(20,80,20,0.4) !important;
  border: none !important;
  -webkit-border-radius: 15px !important;
  border-radius: 15px !important;
//-webkit-box-shadow: 0 0 45px 16px rgba(0,0,0,0.75) !important;
//box-shadow: 0 0 45px 16 rgba(0,0,0,0.75) !important;
  overflow: visible !important;
}

html body .nav > li > a:focus, html body .nav > li > a:hover {
    background-color: transparent !important;
}

html {
  body {

    > * {
      //opacity: 0;
      color: $red-font-color;

      > * {
        //visibility: hidden;
      }
    }

    div.container.wrap {
      position: relative;
      display: block;
      min-height: 100%;
      z-index: 2 !important;

      div.content.row {
        background: none !important;
      }
    }

    * {
      font-family: 'Josefin Sans', sans-serif !important;
      line-height: 134% !important;
      border-collapse: collapse !important;
-moz-box-sizing: border-box !important;
-webkit-box-sizing: border-box !important;
box-sizing: border-box !important;
      opacity: 1;

      p, a, sub, sup {
        //color: $main-font-color;
      }

      &:focus,
      &:hover {
        outline: none !important;
        text-decoration: none !important;
      }
    }

    p {
      //clear: both !important;
    }

    p, button, input[type="submit"], sup, sub, select, option {
      &:not(i.fa) {
        position: relative;
        font-family: 'Josefin Sans', sans-serif !important;
        //color: $primary-font-color !important;
        opacity: $font-opacity !important;
      }
    }

    div + div + div h1 i {
      color: $green-font-color !important;
    }

    a:not(i.fa) {
      position: relative;
      //display: inherit;
      font-family: 'Josefin Sans', sans-serif !important;
      color: $secondary-font-color !important;
      opacity: 1 !important;
      font-weight: bold !important;
      z-index: 1 !important;
    }

    .main a[data^="lightbox"] {
      margin-right: 20px !important;
      margin-bottom: 5px !important;
    }

    i {
      font-family: 'FontAwesome' !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'IM Fell Great Primer', serif !important;
      line-height: 125% !important;
      opacity: 1 !important;
    }

    h1 {
      font-weight: normal !important;
      color: $tertiary-color !important;
      opacity: 0.98 !important;
      &, * {
        color: $green-font-color !important;
        text-shadow: 0 0 0.66px $green-font-color !important;
        opacity: 0.8;
      }
    }

    h2 , h2 > a {
      color: $green-color !important;
      text-shadow: 0 0 4px $green-font-color !important;
      font-weight: normal !important;
      //color: rgba(200,200,200,1) !important;
      &, * {
        color: $green-font-color !important;
        text-shadow: 0 0 0.66px $green-font-color !important;
        opacity: 0.8;
      }
    }

    h3 {
      font-weight: thin !important;
      color: rgba(200,200,200,1) !important;
      text-shadow: none !important;
      strong {
        opacity: 0.9 !important;
      }
      &, *:not(strong) {
        color: $yellow-font-color !important;
        text-shadow: 0 0 0.66px $green-font-color !important;
        opacity: 0.8;
      }
    }

    h4 {
      strong {
        opacity: 0.9 !important;
      }
    }

    > div.wrap.container > div > .main > div:nth-child(2) > div:nth-child(2) {
      > strong {
        opacity: 0.8 !important;
      }
    }

    > div.wrap.container > div > .main > article > div > p {
      > strong {
        opacity: 0.8 !important;
      }
    }

    > div.wrap.container > div > .main > article > div > div.content > p {
      > strong {
        opacity: 0.9 !important;
      }
    }

    ul,
    ol {
      li {
        list-style: none !important;
        color: $primary-font-color;
      }
    }

    sup, sub, small {
      opacity: $font-opacity !important;
    }

    hr, hr > * {
      position: relative;
      left: 3.25% !important;
      display: block !important;
      width: 90% !important;
      height: 100% !important;
      max-height: 3px !important;
      color: $highblue-border-color - rgba(0,0,0,0.5) !important;
      background-color: $highblue-border-color - rgba(0,0,0,0.5) !important;
      border-color: $highblue-border-color - rgba(0,0,0,0.5) !important;
      opacity: 0.17 !important;
    }

    input,
    select,
    textarea {
      position: relative;
      display: inherit;
      width: 100% !important;
      color: $primary-font-color !important;
      background-color: $textfield-color !important;
      padding: 0.5em 0.75em !important;
      border: 1px solid $highblue-border-color !important;
      -webkit-border-radius: 7px !important;
      border-radius: 7px !important;
      overflow: hidden !important;
      opacity: $font-opacity !important;
      resize: none !important;
      margin-top: 15px !important;
      margin-right: 2% !important;
-webkit-box-shadow:inset 0 0 15px 1px rgba(0,0,0,0.75) !important;
box-shadow:inset 0 0 15px 1px rgba(0,0,0,0.75) !important;

      &:focus {
        color: #fff !important;
-webkit-box-shadow: 0 0 3px 1px $highblue-color !important;
box-shadow: 0 0 3px 1px $highblue-color !important;
        background-color: $textfield-color !important;
      }
    }

    button,
    input[type="submit"] {
      font-family: 'Josefin Sans', sans-serif !important;
      font-weight: bold !important;
      position: relative;
      top: -1px !important;
      display: inherit;
      padding: 0.5em 0.75em !important;
      margin-top: 15px !important;
background: rgb(38,67,102) !important;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NDM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE5NTc4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzE1NGY4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzdlYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -moz-linear-gradient(top, rgba(38,67,102,1) 0%, rgba(25,87,141,1) 50%, rgba(21,79,129,1) 51%, rgba(35,126,195,1) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,67,102,1)), color-stop(50%,rgba(25,87,141,1)), color-stop(51%,rgba(21,79,129,1)), color-stop(100%,rgba(35,126,195,1))) !important;
background: -webkit-linear-gradient(top, rgba(38,67,102,1) 0%,rgba(25,87,141,1) 50%,rgba(21,79,129,1) 51%,rgba(35,126,195,1) 100%) !important;
background: -o-linear-gradient(top, rgba(38,67,102,1) 0%,rgba(25,87,141,1) 50%,rgba(21,79,129,1) 51%,rgba(35,126,195,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(38,67,102,1) 0%,rgba(25,87,141,1) 50%,rgba(21,79,129,1) 51%,rgba(35,126,195,1) 100%) !important;
background: linear-gradient(to bottom, rgba(38,67,102,1) 0%,rgba(25,87,141,1) 50%,rgba(21,79,129,1) 51%,rgba(35,126,195,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264366', endColorstr='#237ec3',GradientType=0 ) !important;
      border: 2px solid $black-color !important;
      -webkit-border-radius: 7px !important;
      border-radius: 7px !important;
      opacity: $button-opacity !important;
-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75) !important;
box-shadow: 0 0 15px 0 rgba(0,0,0,0.75) !important;

      &, * {
        color: #bcd;
        font-weight: bold !important;
        letter-spacing: 0.025em !important;
      }

      &:hover {
        color: #def;
background: rgb(30,146,6) !important;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4YjAwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM1YmQwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI4OTkwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iIzJiOTkwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzk1MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -moz-linear-gradient(top, rgba(30,146,6,1) 0%, rgba(53,189,15,1) 50%, rgba(40,153,5,1) 51%, rgba(43,153,9,1) 71%, rgba(51,149,15,1) 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,146,6,1)), color-stop(50%,rgba(53,189,15,1)), color-stop(51%,rgba(40,153,5,1)), color-stop(71%,rgba(43,153,9,1)), color-stop(100%,rgba(51,149,15,1))) !important;
background: -webkit-linear-gradient(top, rgba(30,146,6,1) 0%,rgba(53,189,15,1) 50%,rgba(40,153,5,1) 51%,rgba(43,153,9,1) 71%,rgba(51,149,15,1) 100%) !important;
background: -o-linear-gradient(top, rgba(30,146,6,1) 0%,rgba(53,189,15,1) 50%,rgba(40,153,5,1) 51%,rgba(43,153,9,1) 71%,rgba(51,149,15,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(30,146,6,1) 0%,rgba(53,189,15,1) 50%,rgba(40,153,5,1) 51%,rgba(43,153,9,1) 71%,rgba(51,149,15,1) 100%) !important;
background: linear-gradient(to bottom, rgba(30,146,6,1) 0%,rgba(53,189,15,1) 50%,rgba(40,153,5,1) 51%,rgba(43,153,9,1) 71%,rgba(51,149,15,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b006', endColorstr='#33950f',GradientType=0 ) !important;
        border: 2px solid $black-color !important;
-webkit-box-shadow: 0 0 16px 0 $green-font-color !important;
box-shadow: 0 0 16px 0 $green-font-color !important;
      }
    }

    .container {
      .main {
        img {
          position: relative;
          display: inline-block;
          width: 100% !important;
          margin-right: 2% !important;
          margin-bottom: 15px !important;
          border: 5px solid $footer-border-color !important;
          -webkit-border-radius: 12px !important;
          border-radius: 12px !important;
-webkit-box-shadow: 0 0 20px 8px $black-color !important;
box-shadow: 0 0 20px 8px $black-color !important;
          overflow: hidden !important;
          z-index: 20000 !important;
        }

        .single.post.thumbnail {
          img {
            max-width: 100%;
          }
        }

        strong {
          a {
            img {
              max-width: 25%;
            }
          }
        }
      }
    }

    .webArea {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100%;
      opacity: 0.2 !important;
    }

    div.tooltipsy {
      color: #eef !important;
      opacity: 1 !important;
    }

    div.sfsi_Sicons {
      display: block;
      width: 100%;
      margin-top: 45px;
      padding: 30px 30px 15px 30px;
      margin-bottom: 15px;
      background-color: rgba(255,255,255,0.1) !important;
-webkit-border-radius: 12px !important;
border-radius: 12px !important;
      overflow: visible;
    }

    div[class^="sfsi_tool_tip"] {
      display: none;
    }

    div.vortex-container-vote {
      display: block;
      margin-top: 30px;
    }

    .alert {
      color: $tertiary-color !important;
      background-color: transparent !important;
      background: url('/wp-content/themes/looptheme/assets/images/RedStoneArea.png') repeat !important;
      background-size: 100%;
      background-position: top left;
      background-attachment: fixed;
      padding: 0.2em 0.5em !important;
      border: 2px solid $border-color !important;
    }

    *[id*="fancybox-"] {
      opacity: 1 !important;
    }

    img#fancybox-img {
      border: 0 solid transparent !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
-webkit-box-shadow: 0 0 15px 5px $black-color !important;
box-shadow: 0 0 15px 5px $black-color !important;
      overflow: visible !important;
    }

    *[id*="tooltipsy"] {
      opacity: 0.9;
      visibility: visible;
    }

    *#pinterestBox {
      position: relative;
      opacity: 0.95 !important;
//-webkit-box-shadow: 0 0 7px 1px $shadow-color;
//box-shadow: 0 0 7px 1px $shadow-color;

      > * {
        width: 100%;
-webkit-border-radius: 8px !important;
border-radius: 8px !important;
      }

      &, * {
        color: #cde;
      }

      img {
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
      }

      span[class^="PIN_"] {
        box-shadow: none !important;
        &, * {
          color: #cde !important;
        }
      }

      > span[class^="PIN_"] {
        background-color: rgba(35,49,66,1) !important;
        //background-color: $primary-color;
        background-image: url('/wp-content/themes/looptheme/assets/images/MetalField.png') !important;
        background-size: 50%;
        background-position: top left;
        background-attachment: scroll;

        > a[class^="PIN_"] {
          &, * {
            color: #def !important;
          }
          background: none !important;
          box-shadow: none !important;
          border: none !important;
          outline: none !important;
        }
      }
    }

    div.vortex-container-vote {
      float: left !important;
    }
  }
}

html body {

  article {
    padding-bottom: 0 !important;
  }

  > div.wrap.container > div > .main > div > article {
    padding-bottom: 15px !important;
  }

  > div.wrap.container > div > .main > div > article > header {
    float: left;
    display: inline-block;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;

    .indexlist.post.thumbnail {
       position: absolute;
       top: 0;
       right: -15px;
       display: inline-block;
       clear: both;
       float: right !important;
       margin: 15px !important;
       width: 100% !important;
       height: auto !important;
       max-width: 54% !important;
       max-height: auto;
       background: none !important;
       border: none !important;
       z-index: 0;
     }

     a.gotoSideRight {
       float: left !important;
       line-height: 100% !important;
       max-width: 64% !important;
       min-height: 200px;
       margin: 20px 10% 0 0 !important;

       &, * {
        color: $yellow-font-color !important;
        text-shadow: 0 0 2px $green-font-color !important;
        opacity: 0.9 !important;
      }
     }

     .entry-title {
       width: 100% !important;
       max-width: 48%;
       margin-bottom: 30px !important;
     }

   }

   .entry-summary {
      min-width: 100%;
      margin: 3% 0 !important;

      > p {
        margin: 0 !important;
      }
   }

   .main .post.type-post {
     padding-bottom: 15px !important;
   }

   .main .single.post.thumbnail {
     margin-bottom: 0 !important;
     background: none !important;
     border: none !important;
     z-index: 0;
   }

}

body.single > div.wrap.container > div > .main > article > header > time {
  top: 25px !important;
  right: 0 !important;
}

body.single > div.wrap.container > div > .main > article > header > h1 {
  max-width: 70% !important;
}

html body {

  .main *:not(p):not(div) {
    position: relative;
    z-index: 1 !important;
  }

  div#swipebox-overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10000000 !important;

    #swipebox-slider > div {
      zoom: 1 !important;
      background-image: url('http://loop.arcturus.uberspace.de/wp-content/uploads/2015/10/1146281_10200142065185892_1625573095_o.jpg') !important;
      background-size: 100% !important;
    }
  }

}

> i.scripted.fa {
  color: $green-font-color !important;
  text-shadow: 0 0 0 $green-font-color !important;
}