// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: rgba(28,38,48,1);
$backbone-primary: rgba(0,16,32,1);

$black-color: rgba(0,0,0,0.5);
$base-color: rgba(40,50,60,0.75);
$ground-color: rgba(5,10,14,0.8);
$primary-color: rgba(18,28,38,0.8);
$secondary-color: rgba(180,190,200,0.8);
$tertiary-color: rgba(245,220,15,0.95);
$quarter-color: rgba(0,0,0,0.75);
$fifth-color: rgba(230,240,250,0.95);
$green-color: $tertiary-color;
$highblue-color: rgba(200,220,255,1);
$light-color: rgba(245,250,255,0.8);
$white-color: rgba(255,255,255,0.95);

$main-font-color: $fifth-color;
$primary-font-color: $fifth-color - rgba(40,40,40,0.95);
$secondary-font-color: rgba(180,10,20,1);
$tertiary-font-color: $tertiary-color + rgba(64,54,12,0.95);
$quarter-font-color: $fifth-color;

$red-font-color: rgba(170,65,70,0.8);
$blue-font-color: rgba(85,150,230,0.8);
$green-font-color: rgba(150,230,140,0.8);

$red-border-color: rgba(80,10,10,1);
$green-border-color: rgba(20,80,20,1);
$highblue-border-color: rgba(200,220,255,0.5) - rgba(160,160,160,0.5);

$footer-color: $black-color;
$footer-border-color: rgba(80,30,40,0.75);

$font-opacity: 1;
$button-opacity: 0.999;

$answer-field-color: rgba(128,128,128,0.5);
$date-field-color: rgba(148,148,148,0.5);
$textfield-color: rgba(172,172,172,0.33);
$comment-field-color: rgba(128,128,128,0.01);
$action-field-color: rgba(128,128,128,0.33);

$border-color: transparent;
$shadow-color: $quarter-color;

/*
body {
    /* grayscale *-
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    filter: url(desaturate.svg#greyscale);

    /* multiply *-
    background-color: rgba(190, 50, 50, 0.65);
    background-blend-mode: multiply;
}
*/