html body {

  > div.wrap.container > div > .main {
    p {
      a {
        img {
          max-width: 42%;
          margin-right: 2% !important;
        }
      }
    }
  }

  > div.wrap.container > div > .main > div.page-header > h1 > i {
    opacity: 0.9 !important;
    &, * {
      color: $green-font-color !important;
      text-shadow: 0 0 2px $shadow-color !important;
    }
  }

  div > div > section.widget {

    > h3 > i {
      display: inline-block;
      margin-right: 0.125em !important;
      opacity: 0.9 !important;
      &, * {
        color: $tertiary-font-color !important;
        text-shadow: 0 0 2px $tertiary-color !important;
      }
    }

    .tagcloud {
      a {
        &, * {
          color: $yellow-font-color !important;
          text-shadow: 1px 1px 3px $black-color !important;
          opacity: 0.8 !important;
        }
      }
    }

  }

  time.updated i {
    display: inline-block;
    margin-right: 0.125em !important;
    opacity: 0.75 !important;
    &, * {
      color: $tertiary-font-color !important;
      text-shadow: 0 0 2px $tertiary-color !important;
    }
  }

  input, button {
    &, * {
      color: $white-color !important;
      text-shadow: 0 0 1px $white-color !important;
    }
  }

}

html *,
html body footer .footerInfo * {
  zoom: 1;
-webkit-transition: none !important;
-moz-transition: none !important;
-ms-transition: none !important;
-o-transition: none !important;
transition: none !important;
}

html * > * > * {
-webkit-transition: all 8000ms ease-in-out !important;
-moz-transition: all 8000ms ease-in-out !important;
-ms-transition: all 8000ms ease-in-out !important;
-o-transition: all 8000ms ease-in-out !important;
transition: all 8000ms ease-in-out !important;
}

html * > * > * > * > * > * {
-webkit-transition: all 3000ms ease-in-out !important;
-moz-transition: all 3000ms ease-in-out !important;
-ms-transition: all 3000ms ease-in-out !important;
-o-transition: all 3000ms ease-in-out !important;
transition: all 3000ms ease-in-out !important;
}

html * > * > * > * > * > * > * + * {
-webkit-transition: all 1000ms ease-in-out !important;
-moz-transition: all 1000ms ease-in-out !important;
-ms-transition: all 1000ms ease-in-out !important;
-o-transition: all 1000ms ease-in-out !important;
transition: all 1000ms ease-in-out !important;
}

html * > * > * > * > * > * > * > * + * {
-webkit-transition: all 100ms ease-in-out !important;
-moz-transition: all 100ms ease-in-out !important;
-ms-transition: all 100ms ease-in-out !important;
-o-transition: all 100ms ease-in-out !important;
transition: all 100ms ease-in-out !important;
}

html > body {

  &.colorful,
  &:focus,
  &:hover {
// CONTRAST
filter: contrast(150%) !important;
-webkit-filter: contrast(150%) !important;
// BRIGHTNESS
filter: brightness(0%) !important;
-webkit-filter: brightness(0%) !important;
// INVERT
filter: invert(0%) !important;
-webkit-filter: invert(0%) !important;
// BLACK/WHITE
filter: grayscale(17.5%) !important;
-webkit-filter: grayscale(17.5%) !important;
  }

  &,
  &:blur {
// CONTRAST
filter: contrast(0%) !important;
-webkit-filter: contrast(0%) !important;
// BRIGHTNESS
filter: brightness(0%) !important;
-webkit-filter: brightness(0%) !important;
// INVERT
filter: invert(100%) !important;
-webkit-filter: invert(100%) !important;
// BLACK/WHITE
filter: grayscale(100%) !important;
-webkit-filter: grayscale(100%) !important;
  }

-webkit-transition: all 1500ms ease-in-out !important;
-moz-transition: all 1500ms ease-in-out !important;
-ms-transition: all 1500ms ease-in-out !important;
-o-transition: all 1500ms ease-in-out !important;
transition: all 1500ms ease-in-out !important;

}

// CSS3 MOVEMENTS

html body .laptopArea {
-moz-transform: scale(0.01) !important;
-webkit-transform: scale(0.01) !important;
-o-transform: scale(0.01) !important;
-ms-transform: scale(0.01) !important;
transform: scale(0.01) !important;

z-index: 100000 !important;
opacity: 0.001 !important;

-webkit-transition: all 4000ms ease-in-out !important;
-moz-transition: all 4000ms ease-in-out !important;
-ms-transition: all 4000ms ease-in-out !important;
-o-transition: all 4000ms ease-in-out !important;
transition: all 4000ms ease-in-out !important;

margin-top: -100% !important;
}
html body:hover .laptopArea {
-moz-transform: scale(1) !important;
-webkit-transform: scale(1) !important;
-o-transform: scale(1) !important;
-ms-transform: scale(1) !important;
transform: scale(1) !important;

opacity: 0.999 !important;

margin-top: 0% !important;

  img {
    position: relative;
    z-index: 10000000 !important;
  }
}

// SPACESCENE

html body .spaceScene {
-moz-transform: scale(1) !important;
-webkit-transform: scale(1) !important;
-o-transform: scale(1) !important;
-ms-transform: scale(1) !important;
transform: scale(1) !important;

//z-index: 1000000 !important;
//opacity: 0.001 !important;

-webkit-transition: all 10000ms ease-in-out !important;
-moz-transition: all 10000ms ease-in-out !important;
-ms-transition: all 10000ms ease-in-out !important;
-o-transition: all 10000ms ease-in-out !important;
transition: all 10000ms ease-in-out !important;
}
html body:hover .spaceScene {
-moz-transform: scale(2) !important;
-webkit-transform: scale(2) !important;
-o-transform: scale(2) !important;
-ms-transform: scale(2) !important;
transform: scale(2) !important;

//z-index: 1000000 !important;
//opacity: 0.999 !important;
}

// SUNSTREAM

html body .sunStream {
-moz-transform: scale(1) !important;
-webkit-transform: scale(1) !important;
-o-transform: scale(1) !important;
-ms-transform: scale(1) !important;
transform: scale(1) !important;

//z-index: 1000000 !important;
opacity: 0.999 !important;

-webkit-transition: all 10000ms ease-in-out !important;
-moz-transition: all 10000ms ease-in-out !important;
-ms-transition: all 10000ms ease-in-out !important;
-o-transition: all 10000ms ease-in-out !important;
transition: all 10000ms ease-in-out !important;
}
html body:hover .sunStream {
-moz-transform: scale(3) !important;
-webkit-transform: scale(3) !important;
-o-transform: scale(3) !important;
-ms-transform: scale(3) !important;
transform: scale(3) !important;

//z-index: 1000000 !important;
opacity: 0.001 !important;
}

html body a.brand {
-moz-transform: scale(1.5) !important;
-webkit-transform: scale(1.5) !important;
-o-transform: scale(1.5) !important;
-ms-transform: scale(1.5) !important;
transform: scale(1.5) !important;

z-index: 1000000 !important;
//opacity: 0.999 !important;

left: 25% !important;

-webkit-transition: all 10000ms ease-in-out !important;
-moz-transition: all 10000ms ease-in-out !important;
-ms-transition: all 10000ms ease-in-out !important;
-o-transition: all 10000ms ease-in-out !important;
transition: all 10000ms ease-in-out !important;
}
html body:hover a.brand {
-moz-transform: scale(1) !important;
-webkit-transform: scale(1) !important;
-o-transform: scale(1) !important;
-ms-transform: scale(1) !important;
transform: scale(1) !important;

//z-index: 1000000 !important;
//opacity: 0.001 !important;

left: 0 !important;
}

html body .container nav {
position: relative;
z-index: 10000000 !important;

-moz-transform: scale(0.001) !important;
-webkit-transform: scale(0.001) !important;
-o-transform: scale(0.001) !important;
-ms-transform: scale(0.001) !important;
transform: scale(0.001) !important;

opacity: 0.001 !important;

-webkit-transition: all 10000ms ease-in-out !important;
-moz-transition: all 10000ms ease-in-out !important;
-ms-transition: all 10000ms ease-in-out !important;
-o-transition: all 10000ms ease-in-out !important;
transition: all 10000ms ease-in-out !important;
}
html body:hover .container nav {
-moz-transform: scale(1) !important;
-webkit-transform: scale(1) !important;
-o-transform: scale(1) !important;
-ms-transform: scale(1) !important;
transform: scale(1) !important;

opacity: 0.999 !important;
}

html body .backgroundTop {
-moz-transform: scale(1) !important;
-webkit-transform: scale(1) !important;
-o-transform: scale(1) !important;
-ms-transform: scale(1) !important;
transform: scale(1) !important;

opacity: 0.5 !important;

-webkit-transition: all 10000ms ease-in-out !important;
-moz-transition: all 10000ms ease-in-out !important;
-ms-transition: all 10000ms ease-in-out !important;
-o-transition: all 10000ms ease-in-out !important;
transition: all 10000ms ease-in-out !important;
}
html body:hover .backgroundTop {
-moz-transform: scale(1.75) !important;
-webkit-transform: scale(1.75) !important;
-o-transform: scale(1.75) !important;
-ms-transform: scale(1.75) !important;
transform: scale(1.75) !important;

opacity: 0.999 !important;
}