html body {
  overflow: hidden !important;
  overflow-y: scroll !important;

  > footer {
    position: relative;
    display: block;
    width: 100% !important;
    height: auto !important;
    background-color: $footer-color !important;
    border-top: 5px solid $footer-border-color !important;
    padding: 30px !important;

    > * > * {
      margin: 0 10px 15px !important;
    }

//-webkit-border-radius: 7px !important;
//border-radius: 7px !important;
//    border: 1px solid $border-color !important;
-webkit-box-shadow: 0 0 6px 0 $shadow-color;
box-shadow: 0 0 6px 0 $shadow-color;
    overflow: visible !important;

    h1, h2, h3 {
      color: $tertiary-color !important;
    }

    a {
      color: $secondary-color !important;
    }

    .container {
      margin-top: 15px !important;
      margin-bottom: 30px !important;

      a.brand {
        font-size: 4.5em !important;
        font-weight: bold !important;
        font-family: 'IM Fell Great Primer', serif;
        color: $secondary-color !important;
        text-decoration: none !important;
      }

      .widget {
        position: relative;
        display: inline-block;
        float: left;
        width: 98% !important;
        max-width: 48%;
        padding: 0 15px 15px 15px;
        background-color: $primary-color !important;
-webkit-border-radius: 12px !important;
border-radius: 12px !important;
          border: 1px solid $border-color !important;
-webkit-box-shadow: 0 0 6px 0 $shadow-color;
box-shadow: 0 0 6px 0 $shadow-color;
        overflow: hidden !important;

        > ul {
          li {
            a {
              font-size: 1em;
              font-weight: normal !important;

              &:hover {
                color: #def !important;
              }
            }
          }
        }

        &.widget_tag_cloud {
          max-width: 98%;//73%;
        }

        &.widget_calendar,
        &.widget_newsletterwidget {
          max-width: 23%;
        }
      }

    }
  }
}